
* {
  box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    background-color:hsl(30, 38%, 92%); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    overflow: hidden;  
    width: 90%;
    height: 700px
  }
  
  .container-picture{

    width: 100%;
    
  }

.image {
    width: 100%;
    height: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  
  .container-text {
    background-color:hsl(0, 0%, 100%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px
  }
  
  
  .perfume-name {
    color: hsl(228, 12%, 48%); 
    font-size: 14px;
    letter-spacing: 4px;
    font-weight: bold;
  }
  
 
  .perfum-description h1 {
    font-family: 'Fraunces', serif;
    font-size: 1.6rem;
    font-weight: 700;
    color: hsl(212, 21%, 14%); 
    margin: 0;
  }
  
  
  .detail {
    font-size: 0.9rem;
    line-height: 1.6;
    color: hsl(228, 12%, 48%); 
    margin: 0;
  }

  .price {
    display: flex;
    align-items: center;
    gap: 16px;
  }
 

  
  .price .current {
    font-size: 1.6rem;
    font-weight: bold;
    color: hsl(158, 36%, 37%); 
    font-family:'Fraunces', serif;
  }
  
  .price .original {
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
  }
  
 
  button {
    width: 100%;
    padding: 12px;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    
  }
  
  button:hover {
    background-color: hsl(158, 39%, 30%); 
  }

  @media only screen and (min-width: 426px) {
    .container {
      flex-direction: row;
      align-items: flex-start;
      width: 650px;
      height: 450px;
    }
    .container-text {
      height: 450px;
      flex-basis: 50%;
      justify-content: space-between;
      padding:30px;
      gap: 5px;
      
    }
    .container-picture {
      flex-basis: 50%;
      height: 100%;
    }
    .perfum-description h1 {
      font-size: 2.7rem;
      padding-right: 5px;
    }
  }
  